@using Microsoft.AspNet.Identity
@using WebApplication2.Models;
@if (Request.IsAuthenticated)
{
    //LogOff button
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "LogOff" }))
    {
        var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
        var CurrentTeacher = db.UserToTeachers.Where(a => a.UserID == UserID).SingleOrDefault();
        var notification = db.Notifications.Where(a => a.RecipientID == CurrentTeacher.TeacherID);

        //Secure from Hackers
        @Html.AntiForgeryToken()
        <!-- User Account: style can be found in dropdown.less -->
        <div class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="hidden-xs">
                    @if (CurrentTeacher != null)
                    {
                        var teacher = db.Teachers.Find(CurrentTeacher.TeacherID);
                    <h4> <strong>مرحبا بك يا: @teacher.FullName</strong></h4>
                    }
                    else
                    {
                       <h4 style="color:aliceblue"><strong>مرحبا بك يا: @CurrentUser.UserName</strong></h4>
                       }
                </span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header" style="background-color:aliceblue">

                    <p>
                        <strong>
                            @if (CurrentTeacher != null)
                            {
                                var teacher = db.Teachers.Find(CurrentTeacher.TeacherID);
                                @teacher.FullName
                            }
                            else
                            {
                                @CurrentUser.UserName}
                        </strong>
                        <small>تأكد من ان معلوماتك كاملة</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    @if (CurrentTeacher != null)
                    {
                        @*@if (CurrentUser.Id == CurrentTeacher.UserID) { }*@

                        <div class="box-body">

                            <a href="~/Home/EditProfileTeachers" class="btn btn-app">
                                <i class="fa fa-edit"></i> تعديل معلومات الاستاذ
                            </a>

                        </div>

                    }
                    else
                    {
                        <div class="box-body">

                            <a href="~/Home/CreateProfileTeachers" class="btn btn-file">
                                <i class="fa fa-edit"></i> >اضافة معلومات الاستاذ
                            </a>

                        </div>

                    }
                    <div class="box-body">

                        <a href="~/Account/EditProfile" class="btn btn-app">
                            <i class="fa fa-edit"></i> >تعديل الحساب
                        </a>

                    </div>



                </li>
                <!-- Menu Footer-->
                <li class="user-footer">

                    <div class="pull-right">
                        <a href="javascript:document.getElementById('LogOff').submit()" class="btn btn-default btn-danger">تسجيل الخروج</a>
                    </div>
                </li>
            </ul>
        </div>
    }
}
else
{
    <a href="~/Account/Login">
        <i class="glyphicon glyphicon-user"></i>
        دخول
    </a>}




