@model IEnumerable<p00.Models.TopicEV>
@using Microsoft.AspNet.Identity
@using WebApplication2.Models;
@{
    ViewBag.Title = "DocumentsofTopic";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>تعديل الوثائق</h1>
@if (Request.IsAuthenticated)
{
    var db = new ApplicationDbContext();
    var UserID = User.Identity.GetUserId();
    var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
    var CurrentTeacher = db.UserToTeachers.Where(a => a.UserID == UserID).SingleOrDefault();
    if (CurrentTeacher != null)
    {

        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sections.SectionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics.TopicName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (CurrentTeacher.TeacherID == item.TeacherId)
                {


                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Sections.SectionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topics.TopicName)
                    </td>
                     @if(item.Topics.ReqDoc==true)
                        {
                    <td>
                       
                        @Html.ActionLink("عرض الوثائق", "EditDocumentOfTopic", new { id = item.Id }) |
                        @Html.ActionLink("اضافة وثيقه", "Create", new { id = item.Id }) |
                        
                        
                    </td>
                     }
                     else
                     {
                         <td>
                             <h5>لاتحتاج وثيقه</h5>
                         </td>
                     }
                </tr>
                }
            }

        </table>
    }
}