@model IEnumerable<p00.Models.TopicEV>
@using Microsoft.AspNet.Identity
@using WebApplication2.Models;



@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>الحاسبات</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@if (Request.IsAuthenticated)
{
    var db = new ApplicationDbContext();
    var UserID = User.Identity.GetUserId();
    var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
    var CurrentTeacher = db.UserToTeachers.Where(a => a.UserID == UserID).SingleOrDefault();
    if (CurrentTeacher != null) 
    {
        foreach (var item in Model)
        {
            var document = db.Documents.Where(a => a.TopicEVId ==item.Id);

            // var item3 = item.TopicEVs;  && item.Document == null
            if (item.Topics.ReqDoc == true&& document.Count() <=0 && item.TeacherId== CurrentTeacher.TeacherID)
            {

                <div class="panel panel-info">
                  <div class="panel-heading"><h1>فقرة @Html.DisplayFor(modelItem => item.Topics.TopicName)</h1></div>


         <div class="row panel-body">
        <h5>@Html.DisplayFor(modelItem => item.Topics.Description)</h5>

        @Html.ActionLink("تحميل الوثيقه", "Create", new { id = item.Id }, new { @class = "btn btn-primary" })
        @*<h5>@Html.DisplayFor(modelItem => item)</h5>*@
        @*@Html.ActionLink("تحميل الوثيقه", "Create", new { id = item.Id, new { @class = "btn btn-primary" })*@
        @*@foreach (var subItem in item.TopicEVs)
            {
              <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:380px;">

              <h3>@Html.DisplayFor(modelItem => subItem.EvaluationFormId)</h3>
             <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.EvaluationFormId).ToString()))</h5>
               @Html.ActionLink("التفاصيل", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-primary" })
              </div>
             }*@
        </div>

                </div>  
            }
        }
    }
}
    @*<div class="row">
                        <div class="col-md-4">
                            <h2>Getting started</h2>
                            <p>
                                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                enables a clean separation of concerns and gives you full control over markup
                                for enjoyable, agile development.
                            </p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>Get more libraries</h2>
                            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>Web Hosting</h2>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </div>
                    </div>*@