@model p00.Models.Topics

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Topics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sections.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sections.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocPoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
